.navbar {
    position: fixed;
    top: 0%;
    z-index: 1000;
    display: flex;
    width: 100%;
}
.button-container {
display: flex;
gap: 10px;
}
.footer-custom h5 {
    color: #ffffff;
}
footer {
    position: fixed;
    bottom: 0%;
    z-index: 1000;
    display: flex;
    width: 100%;
}
body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmwOkZKjuR8h07APiyo2iUSwE4G9Gnkt_PZA&s);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    max-width: 1000px;
    margin: auto;
}
.card {
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
h1 {
    text-align: center;
    color: #ffffff;
}